.container-postShow {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  padding-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(255, 255, 255);
  border: solid 6px rgba(114, 114, 114, 0.212);
  border-radius: 10vh 0px 0px;
}

.img-postShow {
  display: flex;
  flex-direction: column;
  align-self: center;
  padding: 5px;
  width: 98%S;
}
.pic-postShow {
  width: 100%;
  border-radius: 5px;
  /* align-self: center; */
}
.header-postShow {
  word-break: break-all;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: rgba(114, 114, 114, 0.212);
  padding: 2rem;
  margin-top: 0px;
  margin-bottom: 10px;
  border-radius: 10vh 0vh 0vh;
}
.br {
  align-self: center;
  width: 70%;
  border-bottom: solid 2px rgba(0, 0, 0, 0.192);
}
.details-postShow {
  font-size: 14px;
  overflow-x: auto;
}

.container-likes-postShow {
  display: flex;
  flex-wrap: wrap;
  margin-top: 1vh;
  padding-left: 5px;
  padding-right: 5px;
  margin-left: 25%;
  margin-right: 25%;
  background-color: rgb(255, 255, 255);
  border: solid 6px rgba(114, 114, 114, 0.212);
  border-radius: 0 0px 5vh;
}
.like-wrap {
  letter-spacing: 2px;
  font-size: 1.5rem;
  padding: 7px;
  color: #01388b;
  cursor: pointer;
  margin-top: 7px;
}
.btn-postshow {
  display: flex;
  flex-direction: row-reverse;
  font-size: 13px;
  align-items: center;
  float: right;
  padding: 10px 0px 10px 0px;
  width: 100%;
  font-weight: 550;
  position: inherit;
}

.or {
  letter-spacing: 3px;
  font-size: 15px;
  margin: 0 83px 0 0px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  align-items: center;
  padding: 10px;
  border-radius: 50%;
  border: solid 1px rgb(255, 255, 255);
  letter-spacing: 0px;
}
.dledteModal {
  position: absolute;
}
.btn-delete-modal {
  letter-spacing: 2px;
  left: 29.6%;
  background: #2c2c2c;
  color: gold;
  font-size: 1rem;
  margin: 0 5px 0 5px;
  padding: 0.5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-align: center;
  border-radius: 0.28571429rem;
  border-radius: 0.28571429rem;
}
.btn-edit-post {
  letter-spacing: 2px;
  font-weight: 550;
  left: 29.6%;
  background: gold;
  color: #2c2c2c;
  font-size: 1rem;
  margin: 0 5px 0 5px;
  padding: 0.5rem 1.8rem;
  border: none;
  outline: none;
  cursor: pointer;
  text-decoration: none;
  border-left: none;
  margin-left: 0;
  border-radius: 0.28571429rem;
  border-radius: 0.28571429rem;
  text-align: center;
}

.add-comment {
  width: 25vh;
  letter-spacing: 2px;
  font-size: 1rem;
  margin-left: auto;
  padding: 0.5rem 1.8rem;
  background: #01388b;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 10px;
}

.text-post {
  word-break: break-all;

  font-size: 16px;
  word-spacing: 3px;
  letter-spacing: 1px;
  margin: 10px;
}
@media (max-width: 770px) {
  .container-postShow {
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .container-likes-postShow {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2%;
    margin-right: 2%;
    padding-left: 2px;
    padding-right: 2px;
  }
  .img-postShow {
    display: flex;
    flex-direction: column;
    align-self: center;
    padding: 5px;
    width: 98%;
  }
  .pic-postShow {
    width: 100%;
    align-self: center;
  }
  .text-post {
    font-size: x-small;
    margin: 10px;
  }
  .header-postShow {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: small;
    background: rgba(114, 114, 114, 0.212);
    padding: 2rem;
    margin-top: 0px;
    margin-bottom: 10px;
    border-radius: 10vh 0vh 0vh;
  }
}
